{{- /*
  Copyright (c) Liam Stanley <liam@liam.sh>. All rights reserved. Use of
  this source code is governed by the MIT license that can be found in
  the LICENSE file.
*/ -}}
{{- define "helper/rest/standard-imports" }}
    "{{ $.Config.Package }}"
    "{{ $.Config.Package }}/predicate"
    {{- with $.Config.FeatureEnabled "privacy" }}
        "{{ $.Config.Package }}/privacy"
    {{- end }}
{{- end }}
