**/*.test
**/*.prof
**/*.lock
**/*.txt
**/*.log
**/*.db
**/.env*
**/bin
**/tmp
/_examples/simple/internal/database/ent

# docs related
/docs/.astro
/docs/**/*.d.ts
/docs/dist
/docs/node_modules
/docs/assets/data
