{{- /*
  Copyright (c) Liam Stanley <liam@liam.sh>. All rights reserved. Use of
  this source code is governed by the MIT license that can be found in
  the LICENSE file.
*/ -}}
{{- define "helper/rest/server/bind" -}}
    var (
        // DefaultDecoder is the default decoder used by Bind. You can either override
        // this, or provide your own. Make sure it is set before Bind is called.
        DefaultDecoder = form.NewDecoder()
    )

    // Bind decodes the request body to the given struct. At this time the only supported
    // content-types are application/json, application/x-www-form-urlencoded, as well as
    // GET parameters. Request body size is enforced by [UseMaxBodyBytes] middleware,
    // which [Server.Handler] installs by default.
    func Bind(r *http.Request, v any) error {
        err := r.ParseForm()
        if err != nil {
            return &ErrBadRequest{Err: fmt.Errorf("parsing form parameters: %w", err)}
        }

        switch r.Method {
        case http.MethodGet, http.MethodHead:
            err = DefaultDecoder.Decode(v, r.Form)
        case http.MethodPost, http.MethodPut, http.MethodPatch:
            switch {
            case strings.HasPrefix(r.Header.Get("Content-Type"), "application/json"):
                defer r.Body.Close()
                {{- if $.Annotations.RestConfig.StrictMutate }}
                    err = json.UnmarshalRead(r.Body, v, json.RejectUnknownMembers(true))
                {{- else }}
                    err = json.UnmarshalRead(r.Body, v)
                {{- end }}
            case strings.HasPrefix(r.Header.Get("Content-Type"), "multipart/form-data"):
                err = r.ParseMultipartForm(DefaultMaxRequestBodyBytes)
                if err == nil {
                    err = DefaultDecoder.Decode(v, r.MultipartForm.Value)
                }
            default:
                err = DefaultDecoder.Decode(v, r.PostForm)
            }
        default:
            return &ErrBadRequest{Err: fmt.Errorf("unsupported method %s", r.Method)}
        }

        if err != nil {
            if _, ok := errors.AsType[*http.MaxBytesError](err); ok {
                return err
            }
            return &ErrBadRequest{Err: fmt.Errorf("error decoding %s request into required format (%T): %w", r.Method, v, err)}
        }
        return nil
    }
{{- end }}{{/* end template */}}
