{{- /*
  Copyright (c) Liam Stanley <liam@liam.sh>. All rights reserved. Use of
  this source code is governed by the MIT license that can be found in
  the LICENSE file.
*/ -}}
{{- define "helper/rest/server/endpoint" -}}
    {{- if eq $.Handler "chi" }}
        r.{{ $.Method|lower|zpascal }}("{{ replace $.Path "{id}" "{id:^[0-9]{1,50}$}" }}", {{ $.Func }})
    {{- else }}
        mux.HandleFunc("{{ $.Method }} {{ $.Path }}", {{ $.Func }})
    {{- end }}
{{- end }}{{/* end template */}}
