{{- /*
  Copyright (c) Liam Stanley <liam@liam.sh>. All rights reserved. Use of
  this source code is governed by the MIT license that can be found in
  the LICENSE file.
*/ -}}
{{- define "helper/rest/server/get_id" -}}
    id, err := strconv.Atoi(r.PathValue("id"))
    if s.error(w, r, err) {
        return
    }
{{- end }}{{/* end template */}}
