{{- /*
  Copyright (c) Liam Stanley <liam@liam.sh>. All rights reserved. Use of
  this source code is governed by the MIT license that can be found in
  the LICENSE file.
*/ -}}
{{- define "helper/rest/server/links/config" }}
    {{ if not $.Annotations.RestConfig.DisableSpecHandler }}
        // EnableLinks if set to true, will enable the "Link" response header, which can be used to hint
        // to clients about the location of the OpenAPI spec, API documentation, how to auto-paginate
        // through results, and more.
        EnableLinks bool
    {{ end }}
{{ end }}{{/* end template */}}

{{- define "helper/rest/server/links/handler" -}}
    {{- if not $.Annotations.RestConfig.DisableSpecHandler }}
        if s.config.EnableLinks {
            _links := Links{}

            {{- if not $.Annotations.RestConfig.DisableSpecHandler }}
                if !s.config.DisableSpecHandler {
                    _links["service-desc"] = s.config.BasePath + "/openapi.json"
                    _links["describedby"] = s.config.BasePath + "/openapi.json"
                }
            {{- end }}

            if err == nil && _resp != nil && _op == OperationList {
                if _lr, ok := any(_resp).(linkablePagedResource); ok {
                    _query := r.URL.Query()
                    if _page := _lr.GetPage(); _page > 1 {
                        _query.Set("page", strconv.Itoa(_page-1))
                        r.URL.RawQuery = _query.Encode()
                        _links["prev"] = r.URL.String()
                        if !strings.HasPrefix(_links["prev"], s.config.BasePath) {
                            _links["prev"] = s.config.BasePath + _links["prev"]
                        }
                    }
                    if !_lr.GetIsLastPage() {
                        _query.Set("page", strconv.Itoa(_lr.GetPage()+1))
                        r.URL.RawQuery = _query.Encode()
                        _links["next"] = r.URL.String()
                        if !strings.HasPrefix(_links["next"], s.config.BasePath) {
                            _links["next"] = s.config.BasePath + _links["next"]
                        }
                    }
                }
            }

            if v := _links.String(); v != "" {
                w.Header().Set("Link", v)
            }
        }
    {{ end }}
{{- end }}{{/* end template */}}

{{- define "helper/rest/server/links" -}}
    {{- if not $.Annotations.RestConfig.DisableSpecHandler }}
        // Links represents a set of linkable-relationsips that can be represented through
        // the "Link" header. Note that all urls must be url-encoded already.
        type Links map[string]string

        func (l Links) String() string {
            var _links []string
            var _keys []string
            for k := range l {
                _keys = append(_keys, k)
            }
            slices.Sort(_keys)
            for _, k := range _keys {
                _links = append(_links, fmt.Sprintf(`<%s>; rel=%q`, l[k], k))
            }
            return strings.Join(_links, ", ")
        }

        type linkablePagedResource interface {
            GetPage() int
            GetIsLastPage() bool
        }
    {{- end }}
{{- end }}{{/* end template */}}
