{{- /*
  Copyright (c) Liam Stanley <liam@liam.sh>. All rights reserved. Use of
  this source code is governed by the MIT license that can be found in
  the LICENSE file.
*/ -}}
{{- define "rest/server" }}
{{- with extend $ "Package" "rest" }}{{ template "header" . }}{{ end }}

import (
    {{- template "helper/rest/standard-imports" . }}
    {{- template "helper/rest/schema-imports" . }}
    {{- if not $.Annotations.RestConfig.DisableSpecHandler }}
        _ "embed"
    {{- end }}
    "html/template" {{/* make sure text/template doesn't get auto-imported */}}
    {{- if eq $.Annotations.RestConfig.Handler "chi" }}
        "github.com/go-chi/chi/v5"
        "github.com/go-chi/chi/v5/middleware"
    {{- end }}
    "github.com/go-playground/form/v4"
)

{{ template "helper/rest/server/constants" . }}
{{ template "helper/rest/server/errors" . }}
{{ template "helper/rest/server/json" . }}
{{ template "helper/rest/server/bind" . }}
{{ template "helper/rest/server/req" . }}
{{ template "helper/rest/server/links" . }}
{{ template "helper/rest/server/spec" . }}
{{ template "helper/rest/server/docs" . }}

type ServerConfig struct {
    {{- template "helper/rest/server/spec/config" . }}
    {{ template "helper/rest/server/docs/config" . }}
    {{ template "helper/rest/server/links/config" . }}

    // MaskErrors if set to true, will mask the error message returned to the client,
    // returning a generic error message based on the HTTP status code.
    MaskErrors bool

    // ErrorHandler is invoked when an error occurs. If not provided, the default
    // error handling logic will be used. If you want to run logic on errors, but
    // not actually handle the error yourself, you can still call [Server.DefaultErrorHandler]
    // after your logic.
    ErrorHandler func(w http.ResponseWriter, r *http.Request, op Operation, err error)

    // GetReqID returns the request ID for the given request. If not provided, the
    // default implementation will use the X-Request-Id header, otherwise an empty
    // string will be returned. If using go-chi, middleware.GetReqID will be used.
    GetReqID func(r *http.Request) string
}

type Server struct {
    db     *ent.Client
    config *ServerConfig
}

// NewServer returns a new auto-generated server implementation for your ent schema.
// [Server.Handler] returns a ready-to-use http.Handler that mounts all of the
// necessary endpoints.
func NewServer(db *ent.Client, config *ServerConfig) (*Server, error) {
    s := &Server{
        db: db,
        config: config,
    }
    if s.config == nil {
        s.config = &ServerConfig{}
    }
    {{- template "helper/rest/server/spec/setup" . }}
    return s, nil
}

// DefaultErrorHandler is the default error handler for the Server.
func (s *Server) DefaultErrorHandler(w http.ResponseWriter, r *http.Request, op Operation, err error) {
    ts := time.Now().UTC().Format(time.RFC3339)

    resp := ErrorResponse{
        Error:     err.Error(),
        Timestamp: ts,
    }

    var numErr *strconv.NumError

    switch {
    case IsEndpointNotFound(err):
        resp.Code = http.StatusNotFound
    case IsMethodNotAllowed(err):
        resp.Code = http.StatusMethodNotAllowed
    case IsBadRequest(err):
        resp.Code = http.StatusBadRequest
    case IsInvalidID(err):
        resp.Code = http.StatusBadRequest
    {{- with $.Config.FeatureEnabled "privacy" }}
        case errors.Is(err, privacy.Deny):
            resp.Code = http.StatusForbidden
    {{- end }}
    case ent.IsNotFound(err):
        resp.Code = http.StatusNotFound
    case ent.IsConstraintError(err), ent.IsNotSingular(err):
        resp.Code = http.StatusConflict
    case ent.IsValidationError(err):
        resp.Code = http.StatusBadRequest
    case errors.As(err, &numErr):
        resp.Code = http.StatusBadRequest
        resp.Error = fmt.Sprintf("invalid ID provided: %v", err)
    default:
        resp.Code = http.StatusInternalServerError
    }

    if resp.Type == "" {
        resp.Type = http.StatusText(resp.Code)
    }
    if s.config.MaskErrors {
        resp.Error = http.StatusText(resp.Code)
    }
    if s.config.GetReqID != nil {
        resp.RequestID = s.config.GetReqID(r)
    } else {
        {{- if eq $.Annotations.RestConfig.Handler "chi" }}
            resp.RequestID = middleware.GetReqID(r.Context())
        {{- else }}
            resp.RequestID = r.Header.Get("X-Request-Id")
        {{- end }}
    }
    JSON(w, r, resp.Code, resp)
}

func handleResponse[Resp any](s *Server, w http.ResponseWriter, r *http.Request, op Operation, resp *Resp, err error) {
    {{- template "helper/rest/server/links/handler" . -}}

    if err != nil {
        if s.config.ErrorHandler != nil {
            s.config.ErrorHandler(w, r, op, err)
            return
        }
        s.DefaultErrorHandler(w, r, op, err)
        return
    }
    if resp != nil {
        type pagedResp interface {
            GetTotalCount() int
        }
        {{- if $.Annotations.RestConfig.ListNotFound }}
        if v, ok := any(resp).(pagedResp); ok && v.GetTotalCount() == 0 && r.Method == http.MethodGet {
            JSON(w, r, http.StatusNotFound, resp)
            return
        }
        {{- end }}
        if r.Method == http.MethodPost {
            JSON(w, r, http.StatusCreated, resp)
            return
        }
        JSON(w, r, http.StatusOK, resp)
        return
    }
    w.WriteHeader(http.StatusNoContent)
}

// UseEntContext can be used to inject an [ent.Client] into the context for use
// by other middleware, or ent privacy layers. Note that the server will do this
// by default, so you don't need to do this manually, unless it's a context that's
// not being passed to the server and is being consumed elsewhere.
func UseEntContext(db *ent.Client) func(next http.Handler) http.Handler {
    return func(next http.Handler) http.Handler {
        return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
            next.ServeHTTP(w, r.WithContext(ent.NewContext(r.Context(), db)))
        })
    }
}

{{- if eq $.Annotations.RestConfig.Handler "chi" }}
    // Handler mounts all of the necessary endpoints onto the provided chi.Router.
    func (s *Server) Handler(r chi.Router) {
        r.Use(UseEntContext(s.db))
{{- else }}
    // Handler returns a ready-to-use http.Handler that mounts all of the necessary endpoints.
    func (s *Server) Handler() http.Handler {
        mux := http.NewServeMux()
{{- end }}

    {{- range $t := $.Nodes }}
        {{- if or
            (($t|getAnnotation).GetSkip $t.Config.Annotations.RestConfig)
            $t.Annotations.Rest.DisableHandler
        }}{{ continue }}{{ end }}

        {{- /* list nodes */}}
        {{- if ($t|getAnnotation).HasOperation $t.Config.Annotations.RestConfig "list" }}
            {{- template "helper/rest/server/endpoint" (dict
                "Handler" $.Annotations.RestConfig.Handler
                "Method" "GET"
                "Path" (getPathName "list" $t nil false)
                "Func" (printf "ReqParam(s, OperationList, s.%s)" (getOperationIDName "list" $t nil | zpascal))
            ) }}
        {{- end }}

        {{- /* get single node */}}
        {{- if and $t.ID (($t|getAnnotation).HasOperation $t.Config.Annotations.RestConfig "read") }}
            {{- template "helper/rest/server/endpoint" (dict
                "Handler" $.Annotations.RestConfig.Handler
                "Method" "GET"
                "Path" (getPathName "read" $t nil false)
                "Func" (printf "ReqID(s, OperationRead, s.%s)" (getOperationIDName "read" $t nil | zpascal))
            ) }}
        {{- end }}

        {{- range $e := $t.Edges }}
            {{- if or
                $e.Annotations.Rest.ReadOnly
                $e.Annotations.Rest.DisableHandler
                (not (($e|getAnnotation).GetEdgeEndpoint $t.Config.Annotations.RestConfig))
                (not $e.Type.ID)
                (not $t.ID)
            }}{{ continue }}{{ end }}

            {{- /* get nodes edge (unique) */}}
            {{- if and $e.Unique (($t|getAnnotation).HasOperation $t.Config.Annotations.RestConfig "read") }}
                {{- template "helper/rest/server/endpoint" (dict
                    "Handler" $.Annotations.RestConfig.Handler
                    "Method" "GET"
                    "Path" (getPathName "read" $t $e false)
                    "Func" (printf "ReqID(s, OperationRead, s.%s)" (getOperationIDName "read" $t $e | zpascal))
                ) }}
            {{- end }}

            {{- /* list nodes edge (non-unique) */}}
            {{- if and (not $e.Unique) (($t|getAnnotation).HasOperation $t.Config.Annotations.RestConfig "list") }}
                {{- template "helper/rest/server/endpoint" (dict
                    "Handler" $.Annotations.RestConfig.Handler
                    "Method" "GET"
                    "Path" (getPathName "list" $t $e false)
                    "Func" (printf "ReqIDParam(s, OperationList, s.%s)" (getOperationIDName "list" $t $e | zpascal))
                ) }}
            {{- end }}
        {{- end }}

        {{- /* create nodes */}}
        {{- if ($t|getAnnotation).HasOperation $t.Config.Annotations.RestConfig "create" }}
            {{- template "helper/rest/server/endpoint" (dict
                "Handler" $.Annotations.RestConfig.Handler
                "Method" "POST"
                "Path" (getPathName "create" $t nil false)
                "Func" (printf "ReqParam(s, OperationCreate, s.%s)" (getOperationIDName "create" $t nil | zpascal))
            ) }}
        {{- end }}

        {{- /* update nodes */}}
        {{- if and $t.ID (($t|getAnnotation).HasOperation $t.Config.Annotations.RestConfig "update") }}
            {{- template "helper/rest/server/endpoint" (dict
                "Handler" $.Annotations.RestConfig.Handler
                "Method" "PATCH"
                "Path" (getPathName "update" $t nil false)
                "Func" (printf "ReqIDParam(s, OperationUpdate, s.%s)" (getOperationIDName "update" $t nil | zpascal))
            ) }}
        {{- end }}

        {{- /* delete nodes */}}
        {{- if and $t.ID (($t|getAnnotation).HasOperation $t.Config.Annotations.RestConfig "delete") }}
            {{- template "helper/rest/server/endpoint" (dict
                "Handler" $.Annotations.RestConfig.Handler
                "Method" "DELETE"
                "Path" (getPathName "delete" $t nil false)
                "Func" (printf "ReqID(s, OperationDelete, s.%s)" (getOperationIDName "delete" $t nil | zpascal))
            ) }}
        {{- end }}
    {{- end }}

    {{ template "helper/rest/server/spec/route" . }}
    {{ template "helper/rest/server/docs/route" . }}
    {{ template "helper/rest/server/not-found" . }}

    {{- if eq $.Annotations.RestConfig.Handler "stdlib" }}
        return http.StripPrefix(s.config.BasePath, UseEntContext(s.db)(mux))
    {{- end }}
}

{{- range $t := $.Nodes }}
    {{- if (($t|getAnnotation).GetSkip $t.Config.Annotations.RestConfig) }}{{ continue }}{{ end }}
    {{- $id := printf "%sID" ($t.Name|zsingular|zcamel) }}

    {{- /* list nodes */}}
    {{- if ($t|getAnnotation).HasOperation $t.Config.Annotations.RestConfig "list" }}
        {{- $pagination := (($t|getAnnotation).GetPagination $t.Config.Annotations.RestConfig nil) }}
        {{- $opID := getOperationIDName "list" $t nil | zpascal }}
        // {{ $opID }} maps to "GET {{ getPathName "list" $t nil false }}".
        {{- if $pagination }}
        func (s *Server) {{ $opID }}(r *http.Request, p *List{{ $t.Name|zsingular }}Params) (*PagedResponse[ent.{{ $t.Name }}], error) {
        {{- else }}
        func (s *Server) {{ $opID }}(r *http.Request, p *List{{ $t.Name|zsingular }}Params) (*ListResponse[ent.{{ $t.Name }}], error) {
        {{- end }}
            return p.Exec(r.Context(), s.db.{{ $t.Name }}.Query())
        }
    {{- end }}

    {{- /* get single node */}}
    {{- if and $t.ID (($t|getAnnotation).HasOperation $t.Config.Annotations.RestConfig "read") }}
        {{- $opID := getOperationIDName "read" $t nil | zpascal }}
        // {{ $opID }} maps to "GET {{ getPathName "read" $t nil false }}".
        func (s *Server) {{ $opID }}(r *http.Request, {{ $id }} {{ $t.ID.Type }}) (*ent.{{ $t.Name }}, error) {
            return EagerLoad{{ $t.Name|zsingular }}(s.db.{{ $t.Name }}.Query().Where({{ $t.Package }}.ID({{ $id }}))).Only(r.Context())
        }
    {{- end }}

    {{- range $e := $t.Edges }}
        {{- if or
            $e.Annotations.Rest.ReadOnly
            (not (($e|getAnnotation).GetEdgeEndpoint $t.Config.Annotations.RestConfig))
            (not $e.Type.ID)
            (not $t.ID)
        }}{{ continue }}{{ end }}

        {{- /* get nodes edge (unique) */}}
        {{- if and $e.Unique (($t|getAnnotation).HasOperation $t.Config.Annotations.RestConfig "read") }}
            {{- $opID := getOperationIDName "read" $t $e | zpascal }}
            // {{ $opID }} maps to "GET {{ getPathName "read" $t $e false }}".
            func (s *Server) {{ $opID }}(r *http.Request, {{ $id }} {{ $t.ID.Type }}) (*ent.{{ $e.Type.Name }}, error) {
                return EagerLoad{{ $e.Type.Name|zsingular }}(s.db.{{ $t.Name }}.Query().Where({{ $t.Package }}.ID({{ $id }})).Query{{ $e.StructField }}()).Only(r.Context())
            }
        {{- end }}

        {{- /* list nodes edge (non-unique) */}}
        {{- if and (not $e.Unique) (($t|getAnnotation).HasOperation $t.Config.Annotations.RestConfig "list") }}
            {{- $opID := getOperationIDName "list" $t $e | zpascal }}
            // {{ $opID }} maps to "GET {{ getPathName "list" $t $e false }}".
            func (s *Server) {{ $opID }}(r *http.Request, {{ $id }} {{ $t.ID.Type }}, p *List{{ $e.Type.Name|zsingular }}Params) (*PagedResponse[ent.{{ $e.Type.Name }}], error) {
                return p.Exec(r.Context(), s.db.{{ $t.Name }}.Query().Where({{ $t.Package }}.ID({{ $id }})).Query{{ $e.StructField }}())
            }
        {{- end }}
    {{- end }}

    {{- /* create nodes */}}
    {{- if ($t|getAnnotation).HasOperation $t.Config.Annotations.RestConfig "create" }}
        {{- $opID := getOperationIDName "create" $t nil | zpascal }}
        // {{ $opID }} maps to "POST {{ getPathName "create" $t nil false }}".
        func (s *Server) {{ $opID }}(r *http.Request, p *Create{{ $t.Name|zsingular }}Params) (*ent.{{ $t.Name }}, error) {
            return p.Exec(r.Context(), s.db.{{ $t.Name }}.Create(), s.db.{{ $t.Name }}.Query())
        }
    {{- end }}

    {{- /* update nodes */}}
    {{- if and $t.ID (($t|getAnnotation).HasOperation $t.Config.Annotations.RestConfig "update") }}
        {{- $opID := getOperationIDName "update" $t nil | zpascal }}
        // {{ $opID }} maps to "PATCH {{ getPathName "update" $t nil false }}".
        func (s *Server) {{ $opID }}(r *http.Request, {{ $id }} {{ $t.ID.Type }}, p *Update{{ $t.Name|zsingular }}Params) (*ent.{{ $t.Name }}, error) {
            return p.Exec(r.Context(), s.db.{{ $t.Name }}.UpdateOneID({{ $id }}), s.db.{{ $t.Name }}.Query())
        }
    {{- end }}

    {{- /* delete nodes */}}
    {{- if and $t.ID (($t|getAnnotation).HasOperation $t.Config.Annotations.RestConfig "delete") }}
        {{- $opID := getOperationIDName "delete" $t nil | zpascal }}
        // {{ $opID }} maps to "DELETE {{ getPathName "delete" $t nil false }}".
        func (s *Server) {{ $opID }}(r *http.Request, {{ $id }} {{ $t.ID.Type }}) (*struct{}, error) {
            return nil, s.db.{{ $t.Name }}.DeleteOneID({{ $id }}).Exec(r.Context())
        }
    {{- end }}
{{ end }}
{{- end }}{{/* end template */}}
